<!DOCTYPE html>
<html lang="en">
<head>

    <title>SmartBar - Oficinas 2</title>
<!--

DIGITAL TREND

https://templatemo.com/tm-538-digital-trend

-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/aos.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.default.min.css') }}">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/templatemo-digital-trend.css') }}">

</head>
<body>

    <!-- MENU BAR -->
    <nav class="navbar navbar-expand-lg position-relative">
        <div class="container">
            <div class="col-lg-4"><img src="{{ url_for('static', filename='svg/cup-straw.svg') }}" width="60">
                <i class="bi bi-cup-straw"> <b>Smart</b>Bar</i></div>
            

            <div class="d-flex bd-highlight">
                <div class="p-2 flex-fill bd-highlight">
                        <a href="{{ url_for('static', filename='pdf/plano.pdf') }}" class="nav-link contact" download>Plano de Projeto</a>
                </div>
                <div class="p-2 flex-fill bd-highlight">
                        <a href="#footers" class="nav-link contact">Integrantes</a>
                </div>
            </div>
        </div>
    </nav>


    <!-- PROJECT DETAIL -->
    <section class="project-detail section-padding-half">
        <div class="container">
            <div class="row">

                    <div class="col-lg-9 mx-auto col-md-10 col-12 mt-lg-5 text-center" data-aos="fade-up">
                        <h4>Entregável 5</h4>
                    </div>
                    <div>
                        <p class="mt-3 mb-4"><p class="mt-3 mb-4">Essa parte do projeto engloba a integração mecânica com hardware e software. Todo o controle de componentes é feita por software controlado pelo RaspberryPi, porém é na integração com o site hospedado na nuvem Azure que o sistema proporciona as funções desejadas pelo projeto. Portanto a primeira etapa foi estabelecer a comunicação entre o RaspberryPi e a nuvem Azure.</p></p>                    
                    </div>
                    <div>
                        <h3>Controle do Raspberry</h3>
                        <p class="mt-3 mb-4">Uma vez integrado o Raspberry Pi dentro do hardware seria muito complexo correções de software, portanto, de forma preventiva fizemos uma simples rotina de descobrimento de IP, no qual o Raspberry ao ser inicializado, envia uma mensagem POST para nosso servidor e o mesmo deixa registrado numa API o endereço de IP para que possamos acessar via SSH, isso é necessário devido ao fato de não termos IP estático na nossa residência.</p>
                        <img src="{{ url_for('static', filename='images/entrega5/api.jpeg') }}" width="200" class="img-fluid center-me" alt="api" data-aos="fade-up">
                        <p class="mt-3 mb-4">Com a coleta dessa informação basta executar o comando de SSH na mesma rede e é possível então ter acesso ao terminal sem que seja necessário plugar o Raspberry em periféricos.</p>
                        <img src="{{ url_for('static', filename='images/entrega5/ssh.jpeg') }}" width="200" class="img-fluid center-me" alt="ssh" data-aos="fade-up">
                    </div>
                    <div>
                        <h3>Comunicação</h3>
                        <p class="mt-3 mb-4">Para realizar a comunicação entre servidor e Raspberry optamos pela utilização de IoT Hub, um serviço prestado pela própria Azure, para o payload esperado pelo sistema o tier de precificação é gratuito. A comunicação funciona em duas etapas, um servidor Hub e devices, para ambos existe SDK na linguagem Python</p>
                        <h4>Device</h4>
                        <p class="mt-3 mb-4">O device é criado através do portal da Azure.</p>
                        <img src="{{ url_for('static', filename='images/entrega5/rpidevice.jpeg') }}" class="img-fluid" alt="device" data-aos="fade-up">
                        <p class="mt-3 mb-4">Após essa criação é gerado um componente na nuvem, que possui uma chave de acesso. A Azure disponibiliza um SDK específico para Devices, que podem fazer uma comunicação bidirecional com o servidor hub.</p>
                        <img src="{{ url_for('static', filename='images/entrega5/setuprpi.jpeg') }}"class="img-fluid" alt="setuprpi" data-aos="fade-up">
                        <p class="mt-3 mb-4">Para acessar as funcionalidades é necessário utilizar a senha gerada na aplicação da Azure.</p>
                        <img src="{{ url_for('static', filename='images/entrega5/rpikey.jpeg') }}"class="img-fluid" alt="rpikey" data-aos="fade-up">
                        <p class="mt-3 mb-4">Com essa informação de chave é possível inserir no código e criar uma rotina de um script que se mantém ativo no aguardo de solicitações de comunicação do hub.</p>
                        <img src="{{ url_for('static', filename='images/entrega5/receivecmd.jpeg') }}"class="img-fluid" alt="receivecmd" data-aos="fade-up">
                        <h4>Hub</h4>
                        <p class="mt-3 mb-4">O hub serve como servidor, enviando payloads em forma de json para o device e recebendo payloads de retorno, a criação do Hub precede a criação do Device e então é possível extrair a string de acesso.</p>
                        <img src="{{ url_for('static', filename='images/entrega5/chavehub.jpeg') }}" class="img-fluid" alt="chavehub" data-aos="fade-up">
                        <p class="mt-3 mb-4">Com a chave de acesso é possível utilizar no SDK utilizado no servidor Flask hospedado na Azure.</p>
                        <img src="{{ url_for('static', filename='images/entrega5/vmlibs.jpeg') }}" class="img-fluid" alt="vmlibs" data-aos="fade-up">
                        <p class="mt-3 mb-4">Através deste fragmento é possível fazer a comunicação com algumas checagens de erro de comunicação.</p>
                        <img src="{{ url_for('static', filename='images/entrega5/invokecmd.jpeg') }}" class="img-fluid" alt="invokecmd" data-aos="fade-up">
                        <h4>Efetiva troca de mensagens</h4>
                        <p class="mt-3 mb-4">Após o setup anterior o procedimento de comunicação é feito, com um script na parte Device que se mantém ativo no aguardo de comandos.</p>
                        <img src="{{ url_for('static', filename='images/entrega5/rpirequest.jpeg') }}" class="img-fluid" alt="rpirequest" data-aos="fade-up">
                        <p class="mt-3 mb-4">E o hub que envia os payloads em forma de json e executa os métodos que residem no Raspberry Pi.</p>
                        <img src="{{ url_for('static', filename='images/entrega5/json.jpg') }}" class="img-fluid" alt="json" data-aos="fade-up">
                        <h4>Hardware</h4>
                        <p class="mt-3 mb-4">Após recomendação dos professores e discussão interna, passamos a fiação de forma direta no lado superior da caixa.</p>
                        <img src="{{ url_for('static', filename='images/entrega5/top.jpeg') }}" class="img-fluid" alt="rpirequest" data-aos="fade-up">
                        <p class="mt-3 mb-4">A visão frontal ficou com um espaço devido ao mecanismo de queda de gelo.</p>
                        <img src="{{ url_for('static', filename='images/entrega5/frontal.jpeg') }}" class="img-fluid" alt="json" data-aos="fade-up">
                    </div>
                    <div>
                    
                    </div>

            </div>
        </div>
    </section>

    <footer class="site-footer" id="footers">
    <div class="container">
        <div class="row">

        <div class="col-lg-4 mx-lg-auto col-md-8 col-10">
            <h1 class="text-white" data-aos="fade-up" data-aos-delay="100">Quando o assunto é <strong>bebida</strong> pode contar com os universitários.</h1>
        </div>

        <div class="col-lg-4 col-md-6 col-12" data-aos="fade-up" data-aos-delay="200">
            <h4 class="my-4">Informações de contato</h4>

            <div class="contact-info">
            <p class="mb-1">
                Matheus Turatti
            </p>
            <p class="mb-1">
                <i class="fa fa-envelope mr-2 footer-icon"></i>
                turatti@alunos.utfpr.edu.br
            </p>
            </div>
            <div style="padding:1rem">
            <p class="mb-1">
                Murilo Mascarin
            </p>
            <p class="mb-1">

                muriloguimaraes@alunos.utfpr.edu.br
            </p>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-12" data-aos="fade-up" data-aos-delay="300">

            <div class="contact-info" style="margin-top:4.5rem">
            <p class="mb-1">
                Thomaz Suzuki
            </p>
            <p class="mb-1">
                <i class="fa fa-envelope mr-2 footer-icon"></i>
                thomazhugo@alunos.utfpr.edu.br
            </p>
            </div>
        </div>
        </div>
    </div>
    </footer>


    <!-- SCRIPTS -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/aos.js') }}"></script>
    <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>

</body>
</html>